/* Variable color */
:root {
    --dark: hsl(248, 69%, 51%);
    --textColor:#1c1c1c;
    --light: #DCDAFF;
    --overlay:hsl(248, 69%, 51%, 0.7)

  }
/* Universal code */
* {
    margin: 12px 5px;
    padding: 5px 10px;
    
  }
  
  html {
    height: 100%;
  }
  
  body {
    justify-content: flex-start;
    min-height: 100vh;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
  }
  
  /* style of header */
  .main-header{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light);
    width: 100%;
  }

  main{
    display: flex;
    flex-wrap: wrap;
  }
/* style of logo */
  #logo{
    width: 100px;
    height: auto;
  }
  /* style of logo while hovering */
  #logo:hover{
    transform: scale(1.1);
  }

  /* h1 {
    font-size: 350%;
    color: var(--textColor);
} */

/* title of each section */
h2 {
    font-size: 200%;
    color: var(--textColor);
    display: inline;
}
/* title of each section under work section */
h3{
  font-size: 150%;
  color: var(--textColor);
  margin-top: 100px;
}

/* navigation bar on header*/
li{
    margin: 5px;
    padding: 15px;
}

/* navigation bar on header*/
nav{
  display: flex;
}
/* navigation bar on header*/
nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap;
    font-size: 100%;
    padding: 0px ;
    
  }
/* navigation bar on header*/  
  nav a {
    font-size: 100%;
    text-decoration: none;
    float: right;
    color: var(--textColor);
    margin: 0px;
    padding: 0px;
    line-height: normal;
  }
  /* navigation bar on header while hovering*/
  nav a:hover {
    color: var(--dark);
    text-decoration: underline 2px;
    line-height: 0.3px;
  }
  /* style of about me photo  */
  .mypic{
    float: right;
    display: inline;
    width: 400px;
    height: auto;
    margin-right: 50px;
  }

  #About-Me{
    margin-top: 50px;
    margin-left: 50px;
  }
  #aboutMe-property{
    font-size: 20px;
    color: var(--textColor);
    line-height: 50px;
  }

  /* #Programming{
    border: solid var(--textColor);
    width: 500px;
    height: 400px;  
  } */
/* 
  #comingSoon{
    width: 500px;
    height: 400px;
    background-image: url("../images/ComingSoon.jpg");
    background-position: center;
    background-size: cover; */
  /* } */

 #comingSoon{
    width: 1000px;
    height: 400px;
    background-image: url("../images/programming.jpg");
    background-position: center;
    background-size: cover;
  } 

  #bamboo{
    width: 500px;
    height: 400px;
    background-image: url("../images/Bamboo.jpg");
    background-position: center;
    background-size: cover;
  }
  #coffe-app{
    width: 500px;
    height: 400px;
    background-image: url("../images/CoffeeHouse.jpeg");
    background-position: center;
    background-size: cover;
  }

  #photography{
    width: 500px;
    height: 400px;
    background-image: url("../images/photography.jpg");
    background-position: center;
    background-size: cover;
  }

  .projectContainer{
    position: relative;
  }

  .projectOverlay{
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: var(--overlay);
    opacity: 0;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .project-title{
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity:0;
    position: absolute;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center; */
  /* } */
  /* .projectContainer .project-title:hover{
    /* transform: scale(1.1); */
    /* opacity: 1;

  } 
  */



  .projectContainer .projectOverlay:hover{
    /* transform: scale(1.1); */
    opacity: 1;

  }
  

  .works {
    padding-top: 100px;
  }

  .work-flex{
    display: flex;
    flex-wrap: wrap;
    flex: 2;
  }

  /*have a var(--dark) hover on the boxes*/
/* 
  .box {

        size: 50px;
        padding: 10px;
        flex: 0 0 300px;
        margin: 20px;

    } */

.workBox{
    width: 500px;
    height: 300px;
    border:  solid var(--textColor);
    
}

.icon{
    width: 50px;
    height: auto;
    float: right;
    background: transparent;
}

a .icon:hover{
  transform: scale(1.1);
}

footer{
    background-color: var(--light);
    align-items: center;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact{
  display: flex;
  flex-wrap: wrap;
}


/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  .main-header{
    flex-direction: column;
  }
  .navbar{
    flex-direction: column;
    align-items: center;
  }
  #comingSoon{
    width: 350px;
    height: 150px;
    /* background-image: url("../images/programming.jpg");
    background-position: center;
    background-size: cover; */
    
}
#bamboo{
  width: 300px;
  height: 200px;
}
#coffe-app{
  width: 300px;
  height: 200px;
}
#photography{
  width: 300px;
  height: 200px;
}
}